<div class="product-card">
  <a routerLink="/products/{{ productId }}">
    <img
      class="product-card__image"
      src="https://cdn.discordapp.com/attachments/1004052043905900635/1439956830783672443/image.png?ex=691c67cd&is=691b164d&hm=b467b6d34a0b85e8bdad989a4030080f3d3e51459cb7ea178776c3442f3e1ca5&"
      alt="..."
    />
    <div class="product-card__content">
      <h3 class="product-card__name">{{ productName }}</h3>
      <p class="product-card__price">R$50,50</p>
      <span class="product-card__shipping">Frete grátis</span>
    </div>
  </a>
</div>
