<div class="product-card">
  <a routerLink="/products/{{ productId }}">
    <div class="product-card__image-layout">
      @if (productImageUrl) {
        <img class="product-card__image" src="{{ productImageUrl }}" alt="..." />
      } @else {
        <div class="product-card__image-placeholder"></div>
      }
    </div>
    <div class="product-card__content">
      <h3 class="product-card__name">{{ productName }}</h3>
      <p class="product-card__price">{{ productPrice | currency: 'BRL' }}</p>
      <span class="product-card__shipping">Frete grátis</span>
    </div>
  </a>
</div>
