# Troque todos os campos para valores válidos
# DB
MYSQL_ROOT_PWD=senha_root_mysql
MYSQL_DB_NAME=nome_bd_mysql
MYSQL_USER_NAME=nome_usuario_mysql
MYSQL_USER_PWD=senha_usuario_mysql

# API
JWT_SECRET_KEY=chavegrande_jwt_chavegrande_jwt_chavegrande_jwt_chavegrande_jwt_chavegrande_jwt_chavegrande_jwt_chavegrande_jwt