<footer>
  <a routerLink="/home">
    <img src="../../../assets/images/logos/gamer-space-logo.svg" alt="Gamer Space Logo" />
  </a>
  <ul>
    Ajuda
    <li><a>FAQ</a></li>
    <li><a>Entrega</a></li>
    <li><a>Devolução</a></li>
    <li><a>Status do pedido</a></li>
    <li><a>Opções de pagamento</a></li>
  </ul>
  <hr />
  <ul>
    Empresa
    <li><a>Sobre nós</a></li>
    <li><a>Política de privacidade</a></li>
    <li><a>Termos de serviço</a></li>
  </ul>
  <hr />
  <ul>
    Contatos
    <li><fa-icon [icon]="['fas', 'envelope']" /><a>Email</a></li>
    <li><fa-icon [icon]="['fab', 'facebook']" /><a>Facebook</a></li>
    <li><fa-icon [icon]="['fab', 'x-twitter']" /><a>X</a></li>
    <li><fa-icon [icon]="['fab', 'instagram']" /><a>Instagram</a></li>
    <li><fa-icon [icon]="['fab', 'linkedin']" /><a>Linkedin</a></li>
  </ul>
</footer>
