<div class="products">
  <div class="products__filters">
    @if (categoryIsLoading) {
      <h2>Carregando categorias...</h2>
    } @else if (categoryError != null) {
      <h2>Ops! Algo deu errado.</h2>
      <p>{{ categoryError }}</p>
    } @else {
      <hr />
      @for (group of categoryGroupResult; track group.typeId) {
        <h3 class="products__filters--title">{{ group.typeName }}</h3>
        @for (item of group.items; track item.id) {
          <p class="products__filters--name">{{ item.name }}</p>
        }
        <hr />
      }
    }
  </div>
  <div class="products__list">
    @if (productIsLoading) {
      <h2>Carregando produtos...</h2>
    } @else if (productError != null) {
      <h2>Ops! Algo deu errado.</h2>
      <p>{{ productError }}</p>
    } @else {
      @if (!productIsLoading && productResult != null) {
        <p class="products__list--found-amount">
          Nós encontramos {{ productResult.items.length }} resultados
        </p>
        <div class="products__list--items">
          @for (product of productResult.items; track $index) {
            <app-product-card
              [productName]="product.name"
              [productId]="product.id"
              [productPrice]="product.price"
            />
          }
        </div>
      }
    }
  </div>
</div>
